<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Page Title -->
    <title> Information </title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/logo/logo.png" type="image/x-icon">

    <!-- CSS Files -->
    <link rel="stylesheet" href="assets/css/animate-3.7.0.css">
    <link rel="stylesheet" href="assets/css/font-awesome-4.7.0.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap-4.1.3.min.css">
    <link rel="stylesheet" href="assets/css/owl-carousel.min.css">
    <link rel="stylesheet" href="assets/css/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <!-- Preloader Starts -->
    <div class="preloader">
        <div class="spinner"></div>
    </div>
    <!-- Preloader End -->

    <!-- Header Area Starts -->
	<header class="header-area header-area2">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo-area">
                        <a href="index.html"><img src="assets/images/logo/logo.png" alt="logo" style="width:230px"></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="custom-navbar">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>  
                    <div class="main-menu main-menu2" >
                        <ul>
                            <li class="active"><a href="index.html">Dashboard</a></li>
                            <li><a href="about.html">Situation if lockdowm continues</a></li>
                            <li><a href="menu.html">Future Situation</a></li>
<li><a href="http://localhost:5000">Predictions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <!-- Banner Area Starts -->
    <section class="banner-area banner-area2 text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1><i>IF Lockdown continues!!</i></h1>
                    <p class="pt-2"><i><h4>Effects on extension of lockdown.</h4></i></p>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Area End -->

    <!-- Welcome Area Starts -->
    
    <!-- Welcome Area End -->
    
    <!-- Deshes Area Starts -->
    <div class="deshes-area section-padding" style="padding-left:140px;padding-right:140px">
       
            
                        <h3>Whose food security and livelihoods are most at risk due to the pandemic?</h3>
                        <p class="pt-3">The pandemic’s impacts on vulnerable communities already grappling with hunger or other crises – the Desert Locust outbreak in the Horn of Africa, insecurity in Yemen or the Sahel, for example – as well as countries that rely heavily on food imports, such as Small Islands Developing States, and countries that depend on primary exports like oil. 
Vulnerable groups also include small-scale farmers, migrant and informal workers, pastoralists, and fishers who might be hindered from working their land, caring for their livestock, or fishing. They will also face challenges accessing markets to sell their products or buy essential inputs, or struggle due to higher food prices and limited purchasing power. Informal labourers will be hard hit by job and income losses in harvesting and processing. Millions of children are already missing out on the school meals they have come to rely upon, many of them with no formal access to social protection, including health insurance.
</p>
                        <br><br><h3>How will the pandemic affect food demand?</h3>
                        <p class="pt-3">At the onset of the COVID-19 outbreak, there has been a significant increase in demand.
Food demand is generally inelastic and its effect on overall consumption will be likely limited, although dietary patterns may alter. There is a possibility of a disproportionately larger decline in animal protein consumption (as a result of fears – not science-based – that animals might be hosts of the virus, and other higher-valued products like fish, fruits and vegetables (which are likely to cause price slumps). These fears can be particularly true for raw fish products supplied to restaurants and hotels, including small and medium enterprises.
Food demand in poorer countries is more linked to income, and, here, loss of income-earning opportunities could impact on consumption.
Fear of contagion can translate in reduced visits to food markets, and we have seen a shift in how people buy and consume food - lower restaurant traffic, increased e-commerce deliveries (as evidenced in China), and a rise in eating at home. 
Following the outbreak of coronavirus, countries around the world started to implement a number of policy measures aimed at avoiding the further spread of the disease.<br>
However, such measures might affect agricultural production and trade. For instance, many countries are implementing higher controls on cargo vessels, with the risk of jeopardizing shipping activities and with a particular risk to perishable goods, like fresh fruits and vegetables, fish and fish products.
Measures affecting the free movement of people, such as seasonal workers, might have an impact on food production, thus affecting market prices globally.
Measures to guarantee acceptable health standards in food factories, may slow down production.
 </p>
                        <br><br><h3>How is the pandemic affecting or will affect food prices?</h3>
                        <p class="pt-3">As of early May, the international prices of some major food staples, such as maize, wheat, and palm oil, have declined. The only staple food that has seen rising prices is rice, and that’s was linked to the export restrictions of a key exporter. Since the 1st of May the export quota of Vietnam has been removed and therefore the concerns over rice are now resolved.
At local level, in markets, especially in countries already affected by hunger and other crises, some food commodity prices are increasing mainly because of local logistical problems or import difficulties.<br>
For example, in Syria, significant price increases (as much as 40-50 percent in food staples) and some shortages in basic goods have been reported since the middle of March. The price of vegetable seeds or other inputs that farmers need also rose. For example, pesticide prices recorded a 100 percent increase in Hama in April. The price of a pack of tomato seeds went up from $25 to $31 in mid-April in Homs. In Sudan, prices of staple foods increased sharply in March - over 10% - due to a further devaluation of the country’s currency, tight supplies as well as high production and transportation costs.<br>
FAO is concerned about the medium and longer-term consequences of the pandemic. The significant slowdown of all economies of the world and specially of the most vulnerable ones  - as unemployment rates have risen, and COVID-19's economic impacts will be felt more - will make countries, especially food import-dependent countries, struggle to have the needed resources to buy food. In turn, as demand for food will decrease over the next months, prices should go down in 2020, and this will have a negative impact on farmers and the agricultural sector.
 </p>
<img src="Screenshot (189).png" style="align:centre">

                        <br><br><h3>What is the pandemic’s impact on the global economy?</h3>
                        <p class="pt-3"> There are several sources of effects over the global economy.
<br><br>
First, markets are more integrated and interlinked, with a Chinese economy that contributes 16 percent to the global gross domestic product. Thus, any shock that affects China now has far greater consequences for the world economy.   
<br><br>
Second, the supply shocks due to morbidity and mortality, but also the containment efforts that restrict mobility and higher costs of doing business due to restricted supply chains and a tightening of credit will affect economies leading to a reduction of economic growth or an economic recession.
In March, the OECD cut its forecast for global economic growth in 2020 from 2.9 percent to 2.4 percent, which would be the lowest level since the financial crisis a decade ago, warning that a prolonged and more intensive coronavirus epidemic could even halve this figure to a mere 1.5 percent.
<br><br>
Third, the demand will also fall due to higher uncertainty, increased precautionary behaviour, containment efforts, and rising financial costs that reduce the ability to spend.
<br><br>
Finally, there is a significant devaluation of the exchange rate with respect to the US dollar, which will also affect the import dependent countries.
<br><br>
</p>

                        <h3></h3>
                        <p class="pt-3"> </p>

</div>
                
            
            </div>
        </div>
    </div>
    <!-- Deshes Area End -->

   
    <!-- Testimonial Area Starts -->
    <section class="testimonial-area section-padding4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-top2 text-center">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="testimonial-slider owl-carousel">
                        <div class="single-slide d-sm-flex">
                            <div class="customer-img mr-4 mb-4 mb-sm-0">
                                <img src="assets/images/customer1.png" alt="">
                            </div>
                            <div class="customer-text">
                                <h5>Anthony Bourdain</h5>
                                <p class="pt-3">Food is everything we are. It’s an extension of nationalist feeling, ethnic feeling, your personal history, your province, your region, your tribe, your grandma. It’s inseparable from those from the get-go.</p>
</div>
                        </div>
                        <div class="single-slide d-sm-flex">
                            <div class="customer-img mr-4 mb-4 mb-sm-0">
                                <img src="assets/images/customer2.png" alt="">
                            </div>
                            <div class="customer-text">
                                <h5>Albert Ellis</h5>
                                <p class="pt-3">Eating is always a decision, nobody forces your hand to pick up food and put it into your mouth</p><br><br></div>
                        </div>
                        <div class="single-slide d-sm-flex">
                            <div class="customer-img mr-4 mb-4 mb-sm-0">
                                <img src="assets/images/customer1.png" alt="">
                            </div>
                            <div class="customer-text">
                                <h5> Cesar Chavez</h5>
                                <p class="pt-3">If you really want to make a friend, go to someone’s house and eat with him – the people who give you their food give you their heart.</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial Area End -->

    <!-- Javascript -->
    <script src="assets/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="assets/js/vendor/bootstrap-4.1.3.min.js"></script>
    <script src="assets/js/vendor/wow.min.js"></script>
    <script src="assets/js/vendor/owl-carousel.min.js"></script>
    <script src="assets/js/vendor/jquery.datetimepicker.full.min.js"></script>
    <script src="assets/js/vendor/jquery.nice-select.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>
