<html>
<title> Prediction</title>
<style>
div.a {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  margin-left: 500px;
}
body{
background-image: url('https://i.pinimg.com/originals/64/0e/29/640e297096f1860d80443a588a660f62.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover; 
}
</style>
<body >

<div style="background-color:white;margin-left:1400px ;text-align:center;">
<a href="index.html">Go to Dashboard</a>
</div>
<br><br><br><br><br>
<br>   <div class="a">
    <h1>Prediction of consumption</h1>
    <form action = "http://localhost:5000/login" method = "post" >
    
    <label for ="Survey Code">choose Survey Code</label>
    <select name = "sc">
    <option value = 1620002001>Bangladesh - 2000-2001</option>
    <option value = 162005>Bangladesh - 2005</option>
    <option value = 1152004>Cambodia - 2004</option>
    <option value = 1152009>Cambodia - 2009</option>
    <option value = 591997>Egypt - 1997</option>
    <option value = 8119981999>Ghana - 1998-1999</option>
    <option value = 972004>Hungary - 2004</option>
    <option value = 1032007>Iraq - 2007</option>
    <option value = 11420052006>Kenya - 2005-2006</option>
    <option value = 1332001>Mali - 2001</option>
    <option value = 1382004>Mexico - 2004</option>
    <option value = 1382006>Mexico - 2006</option>
    <option value = 1382008>Mexico - 2008</option>
    <option value = 14919951996>Nepal - 1995-1996</option>
    <option value = 16520052006>Pakistan - 2005-2006</option>
    <option value = 1681996>Papua New Guinea - 1996</option>
    <option value = 1712003>Philippines - 2003</option>
    <option value = 3819992000>Sri Lanka - 1999-2000</option>
    <option value = 2082007>Tajikistan - 2007</option>
    <option value = 22620022003>Uganda - 2002-2003</option>
    <option value = 22620052006>Uganda - 2005-2006</option>
    <option value = 2372006>Viet Nam - 2006</option>
    </select>
    <br><br>
    <label for ="Breakdown Variable Code">Choose Breakdown Variable Code</label>
    <select name = "bvc" style="width:220px">
    <option value = 20003>Age of household head: 35-59 yrs</option>
    <option value = 20004>Age of household head: 60 yrs or more</option>
    <option value = 20005 >Age of household head: less than 35 yrs</option>
    <option value = 20006 >Area of residence: Rural</option>
    <option value = 20007 >Area of residence: Urban</option>
    <option value = 20008 >Country-level</option>
    <option value = 200012 >At least 1 adult woman with primary education</option>
    <option value = 200013 >At least 1 adult woman with secondary education</option>
    <option value = 200014 >No adult woman in the household</option>
    <option value = 20009 >Education of household head:at least secondary education or other</option>
    <option value = 200010 >Education of household head: no education</option>
    <option value = 200011 >Education of household head: primary education</option>
    <option value = 200016 >Gender composition: Both adult males and females in the household</option>
    <option value = 200010 >Gender composition: Only adult females in the household</option>
    <option value = 200019 >Gender composition: Only adult males in the household</option>
    <option value =200020 >Gender household head: Female</option>
    <option value = 200021 >Gender household head: Male</option>
    <option value = 200022 >High dependency rate: 70% dependency rate or more</option>
    <option value = 200023 >High dependency rate: Less than 70% dependency rate</option>
    <option value = 200024 >Household size: 2 to 4 people</option>
    <option value = 200025 >Household size: 5 or more</option>
    <option value = 200026 >Household size: One person</option>
    <option value = 200027 >Income terciles: Highest income tercile</option>
    <option value = 200028 >Income terciles: Medium income tercile</option>
    <option value = 200029 >Income terciles: Poorest income tercile</option>
    <option value = 200030 >Presence children under 5: Household with children</option>
    <option value = 200031 >Presence children under 5: Household with no children</option>
    </select>
    <br>
    <br>
    
    <label for ="Breadown by Sex of the Household Head Code">choose Breadown by Sex of the Household Head Code</label>
    <select name = "bshhc">
    <option value = 20001>Female-headed household</option>
    <option value = 20002>Male-headed household</option>
    <option value = 20000>total</option>
    </select>
    <br><br>
    
    <label for ="Indicator code">choose Indicator code</label>
    <select name = "ic" style="width:220px">
    <option value = 6075 >Average dietary energy unit value</option>
    <option value = 6065 >Carbohydrates consumption</option>
    <option value = 6063 >Dietary energy consumption</option>
    <option value = 6066 >Fat consumption</option>
    <option value = 6062 >Food consumption in monetary value</option>
    <option value = 6064 >Protein consumption</option>
    <option value = 6069 >Share of dietary energy consumption from fat</option>
    <option value = 6068 >Share of dietary energy consumption from protein</option>
    <option value = 6070 >Share of Dietary Energy Consumption from total carbohydrates and alcohol</option>
    <option value = 6074 >Share of food consumed away from home in total food consumption(in dietary energy)</option>
    <option value = 6067 >Share of food consumption in total income(Engel ratio)</option>
    <option value = 6073 >Share of food from other sources in total food consumption (in dietary energy)</option>
    <option value = 6072 >Share of own produced food in total food consumption (in dietary energy)</option>
    <option value = 6071 >Share of purchased food in total food consumption (in dietary energy)</option>
    <option value = 6061 >Total consumption in monetary value</option>
    </select>
    <br><br>
    <label for ="Measure Code">choose Measure Code</label>
    <select name = "mc">
    <option value = 6076>Mean</option>
    <option value = 6077>Median</option>
    <option value = 6078>Number Observations</option>
    <option value = 6079>Standard Deviation</option>
    </select>
    <br><br>
    
   
    
    <p><input type ="submit" value="submit"/></p>
    
    </form>    
    <b>{{showcase}}</b>
    </div>
</body>
</html>