<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Page Title -->
    <title>Future situation</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/logo/logo.png" type="image/x-icon">

    <!-- CSS Files -->
    <link rel="stylesheet" href="assets/css/animate-3.7.0.css">
    <link rel="stylesheet" href="assets/css/font-awesome-4.7.0.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap-4.1.3.min.css">
    <link rel="stylesheet" href="assets/css/owl-carousel.min.css">
    <link rel="stylesheet" href="assets/css/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <!-- Preloader Starts -->
    <div class="preloader">
        <div class="spinner"></div>
    </div>
    <!-- Preloader End -->

    <!-- Header Area Starts -->
	<header class="header-area header-area2">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo-area">
                        <a href="index.html"><img src="assets/images/logo/logo.png" alt="logo" style="width:230px"></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="custom-navbar">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>  
                    <div class="main-menu main-menu2" >
                        <ul>
                            <li class="active"><a href="index.html">Dashboard</a></li>
                            <li><a href="about.html">Situation if lockdowm continues</a></li>
                            <li><a href="menu.html">Future Situation</a></li>
<li><a href="http://localhost:5000/">Predictions</a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <!-- Banner Area Starts -->
    <section class="banner-area banner-area2 text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1><i>Future Situtation</i></h1>
                    </div>
            </div>
        </div>
    </section>
    <!-- Banner Area End -->

    <!-- Welcome Area Starts -->
    
    <!-- Welcome Area End -->
    
    <!-- Deshes Area Starts -->
    <div class="deshes-area section-padding" style="padding-left:140px;padding-right:140px">
       
                        <h3>What are the implications of the COVID-19 situation – now and in the future – for food production, agricultural and fishery/aquaculture supply chains and markets?</h3>
                        <p class="pt-3" Style="font-size:16px">The food supply chain is a complex web that involves producers, consumers, agricultural and fishery inputs, processing and storage, transportation and marketing, etc.
As of now, disruptions are minimal, as food supply has been adequate, and markets have been stable so far. Global cereal stocks are at comfortable levels and the outlook for wheat and other major staple crops for 2020 is positive. 
Although less food production of high value commodities (i.e. fruits and vegetables) is already likely, they are not as yet noticeable because of the lockdowns and disruption in the value chain 
In the fisheries and aquaculture sector, the implications can vary and be quite complex. For wild-capture fisheries, the inability of fishing vessels to operate (due to limited or collapse of market as well as sanitary measures difficult to abide to on board of a vessel) can generate a domino effect throughout the value chains in terms of supply of products, in general, and the availability of specific species. In addition, for wild-capture fisheries and aquaculture, problems in logistics associated with restriction in transportation, border closures, and the reduced demand in restaurants and hotels can generate significant market changes – affecting prices.
Challenges in terms of the logistics involving the movement of food (not being able to move food from point A to point B) noted at the onset mainly of the restrictions have been mostly solved by mid-April. The pandemic is impacting on livestock sector due to reduced access to animal feed and slaughterhouses’ diminished capacity (due to logistical constraints and labour shortages) similar to what happened in China.
As of May we expect to see disruptions in the food supply chains.
Blockages to transport routes are particularly obstructive for fresh food supply chains and may also result in increased levels of food loss and waste. Fresh fish and aquatic products, which are highly perishable and therefore need to be sold, processed or stored in a relatively limited time are at particular risk.
Transport restrictions and quarantine measures are likely to impede farmers’ and fishers’ access to markets, curbing their productive capacities and hindering them from selling their produce.
</p>

                        <h3> What opportunities are there post COVID-19 to re-orient food systems? What are the lessons learnt from the pandemic?</h3>
                        <p class="pt-3" Style="font-size:16px">This crisis has highlighted areas of inequalities of the food system and business cannot continue as usual. The Committee on Food Security (CFS) is currently working on the Voluntary Guidelines for Food System for Nutrition, to re-orient and transform the food system to be more resilient and sustainable. The CFS also published an Interim Issues Paper on the Impact of COVID-19 on Food Security and Nutrition that adds to the reflection. FAO is also actively working on how the food systems should transform to be able to cope with pandemics like COVID-19 but also to accelerate the progress of SDG2 and 1 but assuring at the same time all trade-offs on nature are minimized.
                       </p>

                        <h3>Hoe to ensure consumer access to foods?</h3>
                        <p class="pt-3" Style="font-size:16px">If possible, allow local markets to remain open, while putting in place strict physical
distancing measures within and outside markets, e.g. limiting the numbers of people per
square meter. If feasible, relocate markets to larger premises, while ensuring the
appropriate infrastructure is in place to maintain quality and food safety. Minimum
number of staff to run markets and limited numbers of customers and time spent at
markets should be monitored. Regular sanitation of open-air markets should be ensured.<br><br>
Pay special attention to low-income consumers with limited access to food outlets
(e.g. those who need to travel significantly more to access fresh markets or urban
supermarkets). Adequate resources on delivery should be allocated to these
vulnerable people.<br><br>
Urgently prioritize policy reforms and investment in online platforms that facilitate the
formalization of online food delivery services from local providers that include online
customer protection and food safety and limiting seller-to-buyer transmission.<br><br>
Strengthen home delivery to ensure consumers’ access to fresh and local products,
especially to elderly people who are strongly advised not to leave their home.<br><br>
Organize information campaigns for consumers based on the brief on COVID-19 and
healthy diets </p>            

                        <h3></h3>
                        <p class="pt-3"> </p>

</div>
                
            
            </div>
        </div>
    </div>
    <!-- Deshes Area End -->

    <!-- Testimonial Area Starts -->
    <section class="testimonial-area section-padding4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-top2 text-center">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="testimonial-slider owl-carousel">
                        <div class="single-slide d-sm-flex">
                            <div class="customer-img mr-4 mb-4 mb-sm-0">
                                <img src="assets/images/customer1.png" alt="">
                            </div>
                            <div class="customer-text">
                                <h5>Anthony Bourdain</h5>
                                <p class="pt-3">Food is everything we are. It’s an extension of nationalist feeling, ethnic feeling, your personal history, your province, your region, your tribe, your grandma. It’s inseparable from those from the get-go.</p>
</div>
                        </div>
                        <div class="single-slide d-sm-flex">
                            <div class="customer-img mr-4 mb-4 mb-sm-0">
                                <img src="assets/images/customer2.png" alt="">
                            </div>
                            <div class="customer-text">
                                <h5>Albert Ellis</h5>
                                <p class="pt-3">Eating is always a decision, nobody forces your hand to pick up food and put it into your mouth</p><br><br></div>
                        </div>
                        <div class="single-slide d-sm-flex">
                            <div class="customer-img mr-4 mb-4 mb-sm-0">
                                <img src="assets/images/customer1.png" alt="">
                            </div>
                            <div class="customer-text">
                                <h5> Cesar Chavez</h5>
                                <p class="pt-3">If you really want to make a friend, go to someone’s house and eat with him – the people who give you their food give you their heart.</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial Area End -->

        <!-- Javascript -->
    <script src="assets/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="assets/js/vendor/bootstrap-4.1.3.min.js"></script>
    <script src="assets/js/vendor/wow.min.js"></script>
    <script src="assets/js/vendor/owl-carousel.min.js"></script>
    <script src="assets/js/vendor/jquery.datetimepicker.full.min.js"></script>
    <script src="assets/js/vendor/jquery.nice-select.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>
